<form autocomplete="false" [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">

  @if (errorMessage()) {
    <app-alert [message]="errorMessage()!" (closed)="errorMessage.set(null)" />
  }

  <app-form-field
    label="Correo electrónico"
    inputId="email"
    inputType="email"
    placeholder="correo@ejemplo.com"
    [control]="form.controls.email"
  />
  <app-form-field
    label="Contraseña"
    inputId="password"
    inputType="password"
    placeholder="••••••••"
    [control]="form.controls.password"
  />
  <div class="mt-2">
    <app-button label="Iniciar sesión" type="submit" />
  </div>
</form>
